/**
 * MARK: General & Overrides 
 */

.has-theme-palette-3-color {
  a {
    color: var(--wp--preset--color--theme-palette-3) !important;
    text-decoration: underline !important;
    &:focus,
    &:hover {
      color: var(--global-palette4) !important;
      text-decoration: none !important;
    }
  }
}


/**
 * MARK: Aktuelles 
 */

.heading-news-single {
  font-size: 3rem !important;
}

.news-blog {
  .wp-post-image {
    -webkit-mask-image: url(../img/borders/Rechteck_Startseite.svg);
    mask-image: url(../img/borders/Rechteck_Startseite.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
  }
}



