:root {
  --font-size-news-base: 1.125rem;
  --global-palette3-alpha: rgba(240, 235, 241, .85);
}
/**
 * MARK: Overrides & Fixes
 */

.has-theme-palette-3-color {
  a {
    color: var(--wp--preset--color--theme-palette-3) !important;
    text-decoration: underline !important;
    &:focus,
    &:hover {
      color: var(--global-palette4) !important;
      text-decoration: none !important;
    }
  }
}

.kb-btns64_1cecc5-78 {
  gap: 1.25rem 1.5rem;
}

.wp-block-kadence-slider {
  .kb-splide .splide__arrows button.splide__arrow {
    background-color: rgba(255,255,255, .5);
    opacity: 1 !important;
    transition: all .25s ease-in-out;
    &:focus,
    &:hover {
      background-color: rgba(255,255,255, .85);
    }
  }
}

/**
 * MARK: Aktuelles 
 */

.kadence-column64_98fa6f-c1 > .kt-inside-inner-col {
  position: relative;
}
.button-start-blog-container {
  aspect-ratio: 1 / 1;
  font-size: 1rem;
  height: auto;
  position: absolute;
  right: 20px;
  top: 75px;
  width: 60px;
  z-index: 10;
  a {
    align-items: center;
    background-color: var(--global-palette3-alpha);
    /* background-color: var(--global-palette1); */
    /* background-color: red; */
    border-radius: 100%;
    color: var(--global-palette2);
    display: flex;
    font-family: 'Campton Bold';
    font-weight: 400;
    height: 100%;
    justify-content: center;
    line-height: 1;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(-16deg);
    transition: all .25s ease-in-out;
    width: 100%;
    &::before {
      background-image: url(../img/borders/border-button-circle.svg);
    background-position: 50% 50%;
    background-repeat: no-repaet;
    background-size: contain;
      border-radius: 100%;
      content: '';
      display: block;
      height: calc(100% + 10px);
      position: absolute;
      width: calc(100% + 10px);
      z-index: 2;
    }
    &:focus,
    &:hover {
      background-color: var(--global-palette1);
      /* background-color: var(--global-palette3); */
      transform: rotate(0deg);
    }
    .inner {
      span {
        color: black;
        display: block;
      }
      span:last-child {
        color: var(--global-palette2)
      }
    }
    
  }
}

a.news-blog-link {
  background: var(--global-palette1) !important;
  color: var(--global-palette2) !important;
  &:focus,
  &:hover {
    background: var(--global-palette2) !important;
    color: var(--global-palette1) !important;
  }
}

.blog-heading-container {
  align-self: flex-start;
  background-image: url(../img/borders/border-landscape-lime-blog-heading.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 50%;
  box-sizing: border-box;
  margin-block-end: .5rem;
  padding: 2rem 0 2rem 1.5rem;
  width: 100%;
  .blog-heading {
    font-size: clamp(0.49em, 6.8vw, 120px);
    span {
      display: block;
      &:last-child {
        color: var(--global-palette2);
      }
    }
  }
}

.news-blog,
.category-aktuelles,
.category-blog {
  .wp-block-post-excerpt__more-link,
  .entry-footer a {
    background: var(--global-palette-btn-bg);
    color: var(--global-palette1);
    font-family: 'Campton Bold';
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em 2em;
    margin-block-start: 0;
    mask-image: url(../img/borders/border-lila-button.png);
    mask-size: 100% 100%;
    &:focus,
    &:hover {
      background: var(--global-palette-btn-bg-hover);
      color: var(--global-palette2);
    }
  }
}

.kb-row-layout-wrap .kt-row-column-wrap:has(.news-blog) {
  padding-block-start: 4rem;
}

.kt-inside-inner-col:has(.news-blog) {
  padding-block-start: 0 !important;
}

.news-blog {
  .is-layout-grid.columns-3 {
    gap: 2rem;
  }
  .wp-block-post {
    display: flex;
    flex-direction: column;
  }
  .wp-block-post-featured-image {
    aspect-ratio: 3 / 2;
    margin-block: 0 var(--font-size-news-base) !important;
    -webkit-mask-image: url(../img/borders/border-news-image-small.svg);
    mask-image: url(../img/borders/border-news-image-small.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    overflow: hidden;
  }
  .wp-post-image {
    /* left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); */
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
  }
  .wp-block-post-title {
    color: var(--global-palette2);
    font-size: calc(var(--font-size-news-base) * 1.5) !important;
    hyphens: auto;
    margin-block: var(--font-size-news-base) !important;
  }
  .wp-block-post-excerpt {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: var(--font-size-news-base) !important;
    p {
      font-size: var(--font-size-news-base) !important;
    }
  }
  .wp-block-post-excerpt__excerpt {
    margin-block-end: var(--font-size-news-base) !important;
  }
  .wp-block-post-excerpt__more-text {
    margin-block-start: auto;
  }
  .wp-block-query-pagination {
    border-top: 1px solid var(--global-gray-500);
    justify-content: center;
    margin-block-start: 3rem;
    padding-block-start: 1rem;
  }
}

.kadence-thumbnail-position-behind:has(+ .category-aktuelles),
.kadence-thumbnail-position-behind:has(+ .category-blog) {
  margin-bottom: 1rem;
}

.wp-site-blocks .post-thumbnail {
  height: auto !important;
  padding: 0 !important;
  aspect-ratio: 16 / 9;
  margin-block-start: 1.5rem;
  -webkit-mask-image: url(../img/borders/border-news-image-hero-16-9.svg);
  mask-image: url(../img/borders/border-news-image-hero-16-9.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}

.category-aktuelles,
.category-blog {
  border-radius: 1px !important;
  .entry-content-wrap {
    padding-block-start: calc(var(--font-size-news-base) * 1.25);
  }
  .entry-title {
    color: var(--global-palette2);
    font-size: calc(var(--font-size-news-base) * 1.5) !important;
    hyphens: auto;
  }
  .entry-content {
    font-size: var(--font-size-news-base) !important;
    h2,
    h3,
    .wp-block-kadence-advancedheading,
    .wp-block-heading {
      color: var(--global-palette2);
      font-size: var(--font-size-news-base) !important;
      margin-block:  calc(var(--font-size-news-base) * 2) var(--font-size-news-base) !important;
    }
    h2,
    h2.wp-block-kadence-advancedheading,
    h2.wp-block-heading {
      font-size: calc(var(--font-size-news-base) * 1.25) !important;
    }
    p {
      font-size: var(--font-size-news-base) !important;
      margin-block-end: var(--font-size-news-base);
    }
  }
  .entry-footer {
    margin-block-start: 2rem;
    text-align: center;

  }
  + .navigation  {
    border-top: 1px solid var(--global-gray-500);
    padding-block-start: 1rem;
  }
}

@media(min-width: 480px) {
  .button-start-blog-container {
    right: 20px;
    top: 100px;
    width: 80px;
    a {
      background-color: var(--global-palette3);
    }
  }
  .blog-heading-container {
    margin-block-end: 1rem;
  }
}

@media(min-width: 600px) {
  .button-start-blog-container {
    font-size: 1.25rem;
    width: 100px;
  }
  .blog-heading-container {
    margin-block-end: 1.5rem;
    padding-inline-start: 3rem;
    h2 {
      line-height: .9;
    }
  }
  .news-blog {
    .is-layout-grid.columns-3 {
      gap: 3rem 2rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  .category-aktuelles,
  .category-blog {
    .entry-title {
      font-size: calc(var(--font-size-news-base) * 2) !important;
    }
    .entry-content {
      h2,
      h2.wp-block-kadence-advancedheading,
      h2.wp-block-heading {
        font-size: calc(var(--font-size-news-base) * 1.375) !important;
      }
    }
  }
}

@media(min-width: 900px) {
  .button-start-blog-container {
    font-size: 1.5rem;
    width: 130px;
  }
  .kadence-thumbnail-position-behind:has(+ .category-aktuelles),
  .kadence-thumbnail-position-behind:has(+ .category-blog) {
    margin-bottom: -4.3em;
  }
}

@media(min-width: 1025px) {
  .button-start-blog-container {
    left: 50%;
    right: auto;
    top: 80px;
  }
}

@media(min-width: 1200px) {
  :root {
    --font-size-news-base: 1.25rem;
  }
  .button-start-blog-container {
    font-size: 2rem;
    width: 150px;
  }
  .kb-row-layout-wrap .kt-row-column-wrap:has(.news-blog) {
    padding-block-start: 6.5rem;
  }
  .blog-heading-container {
    margin-block-end: 2rem;
  }
  .news-blog {
    .is-layout-grid.columns-3 {
      gap: 3.5rem 2.5rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@media(min-width: 1440px) {
  .button-start-blog-container {
    font-size: 2.25rem;
    width: 175px;
  }
  .news-blog {
    .is-layout-grid.columns-3 {
      gap: 4rem 3.5rem;
    }
  }
  .category-aktuelles,
  .category-blog {
    .entry-title {
      font-size: calc(var(--font-size-news-base) * 2.25) !important;
    }
    .entry-content {
      h2,
      h2.wp-block-kadence-advancedheading,
      h2.wp-block-heading {
        font-size: calc(var(--font-size-news-base) * 1.5) !important;
      }
    }
  }
}

@media(min-width: 2000px) {
  :root {
    --font-size-news-base: 1.375rem !important;
  }
  .button-start-blog-container {
    font-size: 2.5rem;
    width: 200px;
  }
}

/*
MARK: Contact
*/

.site-main .wp-block-kadence-advanced-form2189-cpt-id .kb-advanced-form textarea {
  border: 2px solid var(--global-palette1, #3182CE);
}

.site-main .kadence-column7657_ef972e-06 > .kt-inside-inner-col {
  background-image: url("data:image/svg+xml,%3Csvg width='1473' height='862' viewBox='0 0 1473 862' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M1455.34 785.748C1455.34 787.64 1455.34 789.742 1455.4 791.593C1455.34 795.882 1451.93 811.609 1447.65 814.259C1443.2 817.034 1435.58 818.758 1429.97 820.062C1422.11 821.87 1404.78 827 1396.28 826.958C1388.08 826.832 1381.2 830.154 1374.21 830.154C1368.6 830.407 1364.44 833.855 1361.21 837.135C1361.21 837.135 1349.48 834.065 1344.79 831.794C1336.99 831.121 1328.96 830.449 1321.28 829.944C1314.17 831.248 1307.06 832.803 1300.07 834.233C1291.17 834.023 1282.62 833.813 1273.72 833.56C1265.11 833.35 1245.4 833.266 1237.43 835.999C1230.72 836.294 1224.08 836.336 1217.38 836.63C1213.97 839.574 1210.62 842.644 1207.26 845.755C1214.66 853.998 1220.96 856.395 1209.06 860.011C1197.73 863.291 1201.89 859.422 1198.54 853.703L1199 847.732C1196.75 848.951 1194.38 849.961 1192.12 851.138C1189.47 851.769 1181.09 853.241 1179.82 850.591C1181.9 846.975 1183.92 843.4 1186.11 839.994C1181.09 839.111 1176.12 838.018 1171.32 837.093C1166.12 838.859 1161.09 840.583 1155.83 842.391C1148.03 843.148 1140.35 844.073 1132.55 844.83C1121.51 845.503 1111.11 844.83 1099.96 844.242C1016.51 841.676 932.549 841.004 848.818 838.354C846.044 838.522 843.155 838.901 840.323 838.985C831.424 839.784 788.316 835.2 780.804 832.299C772.656 829.355 750.293 826.37 740.7 825.571C731.974 824.772 650.727 842.812 635.414 845.713C628.538 846.891 610.971 849.919 615.016 846.302C612.878 846.596 610.451 846.765 608.313 847.017C602.534 847.816 573.294 845.545 568.845 843.653C565.262 842.013 554.572 841.046 554.572 841.046C557.056 844.157 559.599 847.353 562.315 850.381C552.145 849.666 542.09 848.615 532.151 847.774C527.008 845.713 522.154 843.569 517.184 841.424C517.184 843.569 517.184 845.461 517.358 847.437C514.988 848.447 512.561 849.456 510.192 850.465C507.245 851.096 496.844 848.993 495.052 846.765C497.941 845.293 500.946 843.989 503.893 842.559C503.951 839.364 504.009 836.21 504.125 833.014C500.195 830.617 496.323 828.304 492.394 825.907C493.607 829.229 494.763 832.509 495.919 835.831C485.286 838.817 483.668 841.214 472.111 837.177C467.488 835.747 471.996 837.009 468.875 834.57C466.044 832.846 463.097 832.761 459.803 833.729C458.82 836.462 458.011 839.153 457.029 841.887C448.534 841.004 426.056 838.691 417.966 841.887C405.368 846.092 392.713 850.591 380.231 854.881C380.231 854.881 357.637 851.937 348.449 849.54C336.719 846.47 336.603 848.867 332.616 840.583C329.091 833.224 303.607 837.597 303.607 837.597C285.52 838.901 267.607 840.373 249.635 841.845C245.532 841.424 241.776 841.088 237.963 840.583C224.556 844.788 209.821 846.765 195.143 845.797C162.494 842.223 129.961 838.901 97.3693 835.369C91.9374 834.654 79.5135 831.037 79.5135 831.037L57.0925 828.766L28.7196 830.995L18.6071 823.636L5.43188 808.876V777.127L14.5621 769.011L10.517 759.423L15.0821 734.234L17.6825 721.829L20.3407 714.049L20.8029 710.811V700.088L15.8911 694.243L15.4288 690.332V683.52L19.4161 677.338L19.8784 669.853V660.77L14.0998 654.588C14.0998 654.588 14.9666 648.112 15.8911 645.841C16.8157 643.57 15.8911 627.338 15.8911 627.338L13.6375 609.803L14.5043 596.472L10.9215 588.987V570.148L14.042 557.827L11.3838 554.589V542.562L12.2506 532.175L12.3662 520.401L11.3261 508.122L10.8638 498.071V490.586L13.9842 482.134L13.1174 463.967V458.122L14.9088 452.613L14.042 441.596L19.4739 424.186L12.7129 411.402L14.5043 397.105L15.3711 388.989V382.513L14.5043 368.888L14.9666 364.683L15.8333 357.534V343.909L14.9666 336.13L16.7579 323.472V309.847L21.2074 310.184L26.986 303.708L25.1947 297.863H16.2956L14.5043 293.321L16.2956 289.116C18.087 284.911 20.7452 284.911 20.7452 284.911L15.3711 271.58L19.4161 251.101V244.499L12.3662 237.897L8.84125 230.58L8.43675 198.831L15.4866 187.897L12.3662 181.253L11.0371 169.352L8.43675 162.204L9.76583 156.022L13.6953 147.443L8.43675 142.691V108.672L10.4015 101.523L11.7305 94.8786L11.0949 64.8957L0 62.0362L4.56509 53.4576L14.3887 45.8462L13.753 41.0944L17.0469 32.5158L30.1065 23.9372L46.4599 24.3998L56.9192 18.6808L72.6369 18.2182L89.626 17.7556L106.615 16.3259C106.615 16.3259 106.615 14.4335 121.004 16.3259C135.392 18.2182 131.463 11.574 131.463 11.574L181.159 7.7473L207.336 8.71448L231.548 6.31753L264.486 3.83648C285.636 5.26624 304.474 6.7801 310.484 7.41087C381.445 13.172 381.907 5.81292 414.036 5.72881C428.425 7.07447 446.223 3.96263 460.612 5.26624C469.973 6.19138 489.967 5.77086 489.967 5.77086C489.967 5.77086 481.184 2.70108 477.312 0.766699C473.671 -0.831269 490.198 0.598491 488.58 0.388232C491.758 0.388232 495.168 0.346179 498.346 0.304127C498.346 0.304127 508.979 2.32261 514.295 2.82723C518.687 3.2898 527.932 3.24776 527.932 3.24776C523.714 5.22419 519.611 7.36883 515.393 9.34527C596.582 12.6674 678.234 14.8541 759.249 18.4285C770.113 19.3115 835.18 15.9474 843.039 13.0458C851.938 9.68167 864.882 15.0223 872.105 13.8869C878.346 12.9617 891.579 14.3074 898.225 14.6438C911.111 15.5689 930.238 13.0038 943.471 11.8263C941.044 13.5084 938.501 15.4007 936.19 17.2089C959.478 17.7136 982.361 18.4284 1005.53 18.092C1017.78 17.7977 1029.86 17.3772 1042.17 16.8305C1057.66 16.9987 1073.43 17.1248 1088.8 17.1669C1090.07 17.6715 1091.46 17.9659 1092.73 18.4705C1100.01 21.4982 1237.2 28.4788 1225.52 29.8665C1225.52 29.8665 1235.52 27.8901 1240.55 26.8809C1244.3 26.1239 1252.11 21.3721 1252.11 21.3721C1256.5 21.7926 1261 22.4234 1265.45 22.8859C1265.45 22.8859 1279.15 21.1618 1282.5 23.5167C1287.41 27.1332 1295.68 26.5865 1301.86 26.7126C1300.36 25.1988 1288.8 15.3587 1296.2 15.611C1303.25 15.7792 1310.7 16.0736 1317.81 16.2418C1324.28 14.9382 1329.02 17.209 1331.85 21.4982C1336.42 28.605 1341.62 22.8439 1347.39 20.6151C1361.84 15.1484 1359.36 18.1341 1373.28 17.5033C1372.88 17.6715 1391.95 16.1576 1396.63 13.3402C1400.15 10.8171 1404.89 10.2704 1409.11 8.67244C1413.27 7.32678 1413.91 5.22418 1418.24 8.84064C1422.05 11.8263 1419.63 16.0736 1423.9 13.7607C1428.87 11.2376 1439.68 13.8869 1439.68 13.8869C1439.68 13.8869 1438.87 13.4663 1443.49 12.6673C1448.29 11.8263 1436.56 11.9525 1436.56 11.9525C1438.47 12.0366 1440.26 9.97604 1441.7 11.4899C1441.7 11.4899 1444.3 13.172 1445 13.172C1445.69 13.172 1448.46 13.4243 1448.46 13.4243L1452.45 13.5504L1459.27 14.2653C1459.33 17.5874 1464.35 17.5454 1464.35 17.5454C1470.42 15.4007 1457.82 16.9566 1464.35 17.5454C1474.99 18.5546 1467.42 45.0893 1470.07 49.5047L1472.21 53.0371C1467.24 63.55 1464.58 25.6193 1464.93 36.6369C1465.91 50.556 1466.78 57.3684 1463.95 70.1101C1460.89 84.0713 1460.71 131.338 1456.84 146.813C1456.22 157.157 1454.63 164.572 1452.05 169.058L1453.32 188.654L1445.28 200.302V209.049L1452.51 216.619L1451.7 228.267L1444.48 241.681L1451.7 248.662L1455.69 255.643L1454.88 277.215L1455.69 299.334L1453.26 305.18V320.318L1454.07 340.125L1447.65 348.871L1452.45 358.754L1453.26 365.734L1446.04 391.932L1450.83 408.837V418.719L1448.4 430.536V438.526L1454.82 450.174L1449.21 461.823L1450.02 467.668V472.924L1454.01 483.984L1453.2 495.043L1451 510.771L1451.64 536.422L1453.26 561.485L1450.83 571.367V584.193L1453.26 589.45V603.411L1450.08 620.316V629.651L1442.05 633.73V641.888L1449.27 643.066V676.287L1451.7 684.445L1450.08 698.995V714.133L1454.07 725.193L1450.08 738.019L1457.3 748.49V756.059L1453.32 771.786L1455.34 785.748Z' fill='%23684DDC'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  background-position: center;
  min-height: 100%;
  width: 100%;
}


/* 
MARK: complianz
*/

.cmplz-cookiebanner {
  .cmplz-links li:has(.cookie-statement) {
    display: none;
  }
}


